{# theme settings for RPI HEADER BACKGROUND COLOR #}
{# if it's set to 'gray' we'll be adding a class #}
{% set hdrbgcolor = "" %}
{% if theme_settings.papercut_header_background_color == 'gray' %}
  {% set hdrbgcolor = "rpi-hdr_dark" %}
{% endif %}

<div class="rpi-hdr {{ hdrbgcolor }}">
  <div class="container">
    
      <nav class="navbar navbar-expand navbar-dark">
        <a class="navbar-brand rpi-hdr_logo" href="https://rpi.edu">
          <img alt="Rensselaer" 
               src="{{ base_path ~ directory }}/img/RPI-Web-Logo-White.png"
               srcset="{{ base_path ~ directory }}/img/RPI-Web-Logo-White@2x.png 600w">
        </a>
      </nav>
    
  </div>
</div>