<footer class="rpi-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 rpi-seal">
        <img alt="Rensselaer" src="{{ base_path ~ directory }}/img/RPI-Web-Seal-White.png" 
             srcset="{{ base_path ~ directory }}/img/RPI-Web-Seal-White@2x.png 600w" />        
        <address>
          <div class="org">Rensselaer Polytechnic Institute</div>
          <div class="addr">
            <div class="street-address">
              110 Eighth Street |
              Troy, NY USA 12180
            </div>
          </div>
          <div class="tel"><a href="tel:15182766000">(518) 276-6000</a></div>
          <div class="contact-us">
            <a href="http://info.rpi.edu/contactus">Contact Us</a>
          </div>
        </address>        
        
      </div>
      
      <div class="col-lg-8">
        <div class="bottom-bit">
          <nav class="nav footer-nav">
            <div class="footer-nav-policies">
              <span>Policies:</span>
              <a class="" target="_blank" href="http://scer.rpi.edu/forjournalists">
                Media</a>
              <a class="" target="_blank" href="https://info.rpi.edu/web-privacy-statement">
                Web Privacy</a>
              <a class="" target="_blank" href="https://sexualviolence.rpi.edu/">
                Title IX</a>
            </div>
            <a class="" target="_blank" href="http://rpi.edu/about/heoa/index.html">
              Student Consumer Information</a>
            <a class="" target="_blank" href="http://info.rpi.edu/webaccessibility">
              Accessibility</a>  
          </nav>          
          <p>
            Copyright © {{ "now"|date("Y") }} Rensselaer Polytechnic Institute (RPI)
          </p>  
        </div>
      </div>
    </div>
  </div>
</footer>