$rpi_red: #d6001c;
$rpi_darkred: #ab2328;

$rpi_black: #000000;
$rpi_darkgray: #363436;
$rpi_medgray: #54585a;
$rpi_gray: #95989a;
$rpi_alsogray: #9ea2a2;
$rpi_lightgray: #d7dbde;
$rpi_white: #ffffff;

$rpi_darkblue: #00205c;
$rpi_lightblue: #7fa9ae;

$rpi_green: #aec24f;
$rpi_yellow: #ede86a;
$rpi_purple: #45465c;
$rpi_teal: #207a9e;
$rpi_lightteal: #a1c3c8;

$rpi_body_background: #f9f9f9;

.color-red { color: $rpi_red; }
.color-darkred { color: $rpi_darkred; }
.color-black { color: $rpi_black; }
.color-darkgray { color: $rpi_darkgray; }
.color-medgray { color: $rpi_medgray; }
.color-gray { color: $rpi_gray; }
.color-alsogray { color: $rpi_alsogray; }
.color-lightgray { color: $rpi_lightgray; }
.color-white { color: $rpi_white; }
.color-darkblue { color: $rpi_darkblue; }
.color-lightblue { color: $rpi_lightblue; }
.color-green { color: $rpi_green; }
.color-yellow { color: $rpi_yellow; }
.color-purple { color: $rpi_purple; }
.color-teal { color: $rpi_teal; }
.color-lightteal { color: $rpi_lightteal; }