{% set attributes = attributes.addClass('site-branding') %}
<h1 class="site-title">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
    {{ site_name }}
  </a>
</h1>
  